.Rproj.user
.Rhistory
.RData
.Ruserdata


/outputs/*
/inputs/*
/GIS/*
/scrap/*
/other/*
/figure/*
/funtions/experimental/*

!/inputs/.gitkeep
!/outputs/.gitkeep
!/GIS/.gitkeep
!/scrap/.gitkeep
!/other/.gitkeep