.Rproj.user
.Rhistory
.RData
.Ruserdata


/outputs/*
/inputs/*
/GIS/*
/scrap/*
/other/*
/figure/*
/funtions/experimental/*

!/outputs/host/composite_indicator/.gitkeep

!/outputs/refugee/composite_indicator/.gitkeep

!/outputs/IOM/composite_indicator/.gitkeep

!/inputs/.gitkeep

!/GIS/.gitkeep
!/scrap/.gitkeep
!/other/.gitkeep