.Rproj.user
.Rhistory
.RData
.Ruserdata


/outputs/*
/inputs/*
/GIS/*
/scrap/*
/scripts/experimental/*
/other/*
/figure/*
/funtions/experimental/*
/msna2020_res/*
/DAP/scap_archive/*
/to_hq/*

!/outputs/host/composite_indicator/.gitkeep
!/outputs/refugee/composite_indicator/.gitkeep
!/outputs/IOM/composite_indicator/.gitkeep
!/inputs/.gitkeep
!/GIS/.gitkeep
!/scrap/.gitkeep
!/other/.gitkeep